<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/lobby.css">

        <title>
            {% block title %}
            The Tor Project's Gitlab Lobby
            {% endblock %}
        </title>
    </head>
    <body class="text-center">
        {% block content %}
        {% endblock %}
    </body>
</html>
